@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*
{
    font-family: "Outfit", sans-serif;

}

.nav-bg-color
{
    background-color: #0f1111;
}
.search-icon-img
{
    background:burlywood;
}