.bg-yellow
{
    background-color: yellow;
}
/* .display
{
    display: grid;
    grid-template-columns: auto auto auto autp;
} */
/* .custom__css
{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
} */